.global-loader-overlay {
  position: fixed;
  z-index: 99999;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 40px;
  height: 30px;
  --c: no-repeat linear-gradient(
    to bottom,
    #5A3232b3 60%, /* 70% opacity */
    #7b6f6f 70%,
    #c8c4c4 100%
  );
  background:
    var(--c) 0    100%/8px 30px,
    var(--c) 50%  100%/8px 20px,
    var(--c) 100% 100%/8px 10px;
  position: relative;
  clip-path: inset(-100% 0);
}
.loader:before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5A3232b3;
  left: -16px;
  top: 0;
  animation: 
    l5-1 2s   linear infinite,
    l5-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l5-1 {
  0%   {left:-16px;transform:translateY(-8px)}
  100% {left:calc(100% + 8px);transform:translateY(22px)}
}
@keyframes l5-2 {
  100% {top:-0.1px}
}
